@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(12, 12, 12);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: rgb(43, 43, 43);
    height: 85vh;
    width: 85vw;
    padding: 30px;
}

#calculator {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: 5px;
    margin: auto;
}

input {
    color: black;
    grid-column: span 4;
    height: 30px;
    padding: 20px;
    text-align: right;
    font-size: 1.5em;
}
button {
    background-color: rgb(116, 116, 116);
    color: white;
    height: 80px;
    font-size: 1.5em;
    font-weight: bold;
}

#equal {
    grid-column: span 3;
}