@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --colorBase-1: #006BA6;
    --colorBase-2: #F4ECD6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--colorBase-2);
    width: 100%;
    height: 100vh;
}


nav {
    background-color: var(--colorBase-1);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav p {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2em;
    color: var(--colorBase-2);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

nav img {
    width: 30px;
    height: 30px;
}

main {
    background-color: #fff9e8;
    
    height: 100%;
    width: 80%;
    
    margin: auto;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}

h1 {
    font-family: "Oswald", sans-serif;
    color: #005684;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    background-color: #ffe7a6;

    width: 150px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 5px;
    padding: 10px;

    border-radius: 10px;
    border-style: none;
}

input[type="radio"] {
    background-color: var(--colorBase-1);
    margin: 0 10px 0 20px;
}

#fullname {
    width: 300px;
}

li {
    list-style: none;
}

button {
    background-color: var(--colorBase-1);
    color: aliceblue;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    padding: 10px;
    margin: 5px;

    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #00324e;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0 0;
}