@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #040f16;
  color: aliceblue;

  font-family: "Ubuntu", sans-serif;

  height: 100vh;
}

main {
  background: url(./images/tic-tac-toe-1000x1000.png) no-repeat center;
  background-size: contain;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

h1 {
  font-size: 4em;
  text-align: left;
}

#players-container {
  font: 1.3em "Pixelify Sans", sans-serif;

  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;

  width: 536px;
}

.player-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.player-container input {
  font-family: "Ubuntu", sans-serif;

  border-style: none;
  border-radius: 20px;

  margin-top: 5px;
  padding: 8px 15px 8px 15px;
}

.player-container input:hover {
  outline: 2px solid #d64933;

  transition: 0.1s;
  transform: scale(1.05);
}

#playBtn {
  background-image: linear-gradient(#faa837, #d64933);
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  border: 5px solid #96544a;
  border-radius: 50px;

  font-weight: bold;
  font-size: 2em;

  width: 536px;
  height: 80px;

  margin-top: 15px;
}

#playBtn:hover {
  border: 5px solid aliceblue;
}

#playBtn:active {
  transition: 0.04s;
  box-shadow: inset 0 0 10px black;
}

#game-screen {
  display: none;

  font-family: "Pixelify Sans", sans-serif;
}

#buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  margin-top: 10px;
}

/* Estilização do js */

#display {
  background-image: none;
}

#tic-tac-hoe {
  color: #3066be;
  font-size: 1.5em;
  width: 290px;
  margin-bottom: 20px;
}

#playersContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 290px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.selected-player {
  font-size: 1em;
  color: #faa837;

  transition: 0.1s;
  transform: scale(1.1);
}

.squares-x {
  background-color: #3066be;
  color: aliceblue;

  font: 4em "Ubuntu", sans-serif;

  border-style: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 90px;
}

.squares-x:hover {
  border: 3px solid aliceblue;
  border-radius: 10px;
}

.squares-x:hover::before {
  color: rgba(255, 255, 255, 0.2);
  content: "X";
}

.squares-o {
  background-color: #3066be;
  color: aliceblue;

  font: 4em "Ubuntu", sans-serif;

  border-style: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 90px;
}

.squares-o:hover {
  border: 3px solid aliceblue;
  border-radius: 10px;
}

.squares-o:hover::before {
  color: rgba(255, 255, 255, 0.2);
  content: "O";
}

.squares-clicked {
  background-color: #3066be;
  color: aliceblue;

  font: 4em "Ubuntu", sans-serif;

  border-style: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 90px;
}

#winner-modal {
  background-color: rgba(214, 73, 51, 0.98);

  font-family: "Pixelify Sans", sans-serif;
  line-height: 50px;

  border-radius: 50px 0;

  width: 500px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
}

#winner-modal h2 {
  font-size: 5em;
  color: #faa937d3;
}

#winner-modal p {
  font-size: 3em;
  text-align: center;
}
